.content-r.content-d
  / Title
  %h2 About Motion Meetup
  / Border
  .border
  / Your pic with class "profile"
  = image_tag "rm.png", class: "profile"
  / Social media icons
  .social-icons
    %a.tip{"data-original-title" => "Facebook", :href => "#"}
      %i.icon-facebook
    %a.tip{"data-original-title" => "Twitter", :href => "#"}
      %i.icon-twitter
    %a.tip{"data-original-title" => "Linkedin", :href => "#"}
      %i.icon-linkedin
    %a.tip{"data-original-title" => "Google Plus", :href => "#"}
      %i.icon-google-plus
  / Para
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at mauris metus. Duis interdum magna sit amet orci euismod id elementum metus posuere. Nam at augue quam, sit amet tristique tellus. Nunc enim eros, imperdiet ultrices rhoncus non, scelerisque vel justo. Quisque convallis aliquam tincidunt. Aenean nec lectus blandit lectus pellentesque posuere eget id nisl. Praesent at neque libero. Phasellus feugiat
    = succeed "," do
      %a{:href => "#"} elementum arcu
    non faucibus elit sodales nec. Quisque convallis aliquam tincidunt. Aenean nec lectus blandit lectus pellentesque posuere eget id nisl. Mauris consectetur varius dui nec sollicitudin. Donec a enim justo. Proin nec convallis tellus. Praesent at neque libero. Phasellus feugiat elementum arcu, non faucibus elit sodales nec.
  .clearfix
