.content-r.content-d

  / Title
  %h2 About Motion Meetup
  / Border
  .border
  .row
    / Your pic with class "profile"
    .span3
      = image_tag "rm.png", class: "profile"
    .span8
      .row
        .social-icons
          %a.tip{"data-original-title" => "Facebook", :href => "javascript:alert('Not Yet');"}
            %i.icon-facebook
          %a.tip{"data-original-title" => "Twitter", :href => "javascript:alert('Not Yet');"}
            %i.icon-twitter
          %a.tip{"data-original-title" => "Linkedin", :href => "javascript:alert('Not Yet');"}
            %i.icon-google-plus
      .row
        / Para
        %p
          We welcome developers of all levels who are interested in a free RubyMotion meeting where people can to share their ideas and learn new ones.
        %p
          If you're unfamiliar with what RubyMotion is, I have to wonder how you got here.  Learn
          %a{href: "http://www.RubyMotion.com"} more info on the RubyMotion site.
        %p
          We're open suggestions, guests, and code.  We'd like to allow this community to grow, so if you're looking to fork
          %a{href: "https://github.com/IconoclastLabs/MotionMeetup"} the code for this website
          or if you've got other improvements, what are you waiting for?  Do something cool.
        .clearfix

