.content-b.content-d
  %h2 Archive
  .border
  / I am using prettyPhoto plugin. Full size image should be given side <a> tag and thumbnail size image should be given inside <img> tag. Don't forget the class "prettyPhoto[pp_gal]" in <a> tag.
  .portfolio
    %a{:class => "prettyPhoto[pp_gal]", :href => "javascript:alert('NOT YET');"}
      = image_tag "archive_photos/week1.png"
    %a{:class => "prettyPhoto[pp_gal]", :href => "javascript:alert('NOT YET');"}
      = image_tag "archive_photos/week2.png"    
    %a{:class => "prettyPhoto[pp_gal]", :href => "javascript:alert('NOT YET');"}
      = image_tag "archive_photos/week3.png"          
