.content-b.content-d
  %h2 Portfolio
  .border
  / I am using prettyPhoto plugin. Full size image should be given side <a> tag and thumbnail size image should be given inside <img> tag. Don't forget the class "prettyPhoto[pp_gal]" in <a> tag.
  .portfolio
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/1.jpg"}
      %img{:alt => "", :src => "img/photos/tn_1.jpg"}/
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/2.jpg"}
      %img{:alt => "", :src => "img/photos/tn_2.jpg"}/
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/3.jpg"}
      %img{:alt => "", :src => "img/photos/tn_3.jpg"}/
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/4.jpg"}
      %img{:alt => "", :src => "img/photos/tn_4.jpg"}/
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/5.jpg"}
      %img{:alt => "", :src => "img/photos/tn_5.jpg"}/
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/6.jpg"}
      %img{:alt => "", :src => "img/photos/tn_6.jpg"}/
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/7.jpg"}
      %img{:alt => "", :src => "img/photos/tn_7.jpg"}/
    %a{:class => "prettyPhoto[pp_gal]", :href => "img/photos/8.jpg"}
      %img{:alt => "", :src => "img/photos/tn_8.jpg"}/
