.content-b.content-d
  %h2 Archive
  .border
  .portfolio
    .row
      .span6.offset1
        Upcoming Meetups
      .span3.offset1
        Previous Meetup
    .row
      .span3.offset1
        %a{:class => "prettyPhoto[pp_gal]", :href => "javascript:alert('NOT YET');"}
          = image_tag "archive_photos/week3.png"
      .span3
        %a{:class => "prettyPhoto[pp_gal]", :href => "javascript:alert('NOT YET');"}
          = image_tag "archive_photos/week2.png"
      .span3.offset1
        Asset:
        = @previous_meetup.asset
        = link_to image_tag("archive_photos/week1.png"), archive_url(@previous_meetup), {class: "prettyPhoto[pp_gal]"}
