/ Footer
%footer
  .container
    .row
      .span8
        / Copyright info
        %p
          Website Copyright &copy; 
          = Time.now.year 
          %a{:href => "http://www.IconoclastLabs.com"} Iconoclast Labs LLC - 
          RubyMotion its logo are a registered trademark of HipByte SPRL 
          %br
          %a{href: "https://github.com/IconoclastLabs/MotionMeetup"} Fork us on Github
      .span3.offset1
        / Social media icons
        .social
          %a.twitter{:href => "https://twitter.com/iconoclastlabs"}
            %i.icon-twitter
          %a.google-plus{:href => "https://plus.google.com/communities/101717463357676409782"}
            %i.icon-google-plus
