.content-g.content-d
  / Title
  %h2 Meetup Schedule
  Times may changed based on audience and analytics.  Please sign up with our mailing list to remain current.
  / Border
  .border
  / Content
  .resume
    .row
      .span3
        %h3 June 17th 2013
        %small
          Los Angeles USA 9 AM  
          %br/ 
          New Orleans USA 11 AM  
          %br/ 
          Brussels Belgium 6 PM
          %br/ 
          Tokyo Japan (18th) 1 AM
          %br/ 
          London England 5 PM
          %br/ 
          UTC (GMT) 16:00:00        
      .span8
        .rcontent
          %h4 MotionMeetup # 2
          %p
            Get your questions ready for the originator and owner of RubyMotion.  We'll be talking about the RubyMotion
            roadmap with the head honcho.
          %p
            Special Guest
            %span.skill
              %a{href: "http://hipbyte.com/"} Laurent Sansonetti
    .border
    .row
      .span3
        %h3 July 17th 2013

      .span8
        .rcontent
          %h4 MotionMeetup # 3
          %p
            In my opinion Clay is one of the most agressive and talented RubyMotion programmers. He's not only a core committer with the RubyMotion group, he's the author of an excellent 
            %a{href: "http://pragprog.com/book/carubym/rubymotion"} RubyMotion book for beginners.
          %p
            Special Guest
            %span.skill
              %a{href: "http://clayallsopp.com/"} Clay Allsopp              
    .border
    .row
      .span3
        %h3 To Be Announced
      .span8
        .rcontent
          %h4 MotionMotion Meetup # 4
          %p
            Please contact us if you'd like to talk!
          %p
            Special Guest
            %span.skill 
              %a{href: ""} TBA
