.content-g.content-d
  / Title
  %h2 Meetup Schedule
  Times may changed based on audience and analytics.  Please sign up with our mailing list to remain current.
  / Border
  .border
  / Content
  .resume
    .row
      .span3
        %h3 September 18th 2013

      .span8
        .rcontent
          %h4 MotionMeetup # 5
          %p
            iOS/RubyMotion/Rails developer, owner of ClearSight Studio, and creator of ProMotion.
          %p
            Special Guest
            %span.skill
              %a{href: "http://www.clearsightstudio.com/"} Jamon Holmgren    
    .border
    .row
      .span3
        %h3 October 2013

      .span8
        .rcontent
          %h4 MotionMeetup # 6
          %p
            An passionate iOS developer, crazy for videogames and creator of the Joybox gem.
          %p
            Special Guest
            %span.skill
              %a{href: "http://joybox.io"} Juan José Karam
    .border
    .row
      .span3
        %h3 To Be Announced
        Sign up ot be notified, when this guest is announced
      .span8
        .rcontent
          %h4 The next one...
          %p
            Please contact us if you'd like to talk!
          %p
            Special Guest
            %span.skill 
              %a{href: ""} TBA
