.content-g.content-d
  / Title
  %h2 Meetup Schedule
  / Border
  .border
  / Content
  .resume
    .row
      .span3
        / Title
        %h3 May 15th 2013
      .span8
        / Information
        .rcontent
          %h4 RubyMotion Meetup # 1
          %p
            Start time is 12:00:00 GMT (that's 6pm US Central Standard Time)
          %p 
            Join us as we kick off the first ever Motion Meetup.  We'll discuss the #inspect Conference and cover
            the field on what's happened in RubyMotion over the past year, as well as where it's going.
          %p   
            Special Guest
            %span.skill 
              %a{href: "http://colinta.com/"} Colin Gray
    .border
    .row
      .span3
        %h3 To Be Announced
      .span8
        .rcontent
          %h4 RubyMotion Meetup # 2
          %p
            Special Guest
            %span.skill 
              %a{href: ""} TBA
