.content-g.content-d
  / Title
  %h2 Meetup Schedule
  / Border
  .border
  / Content
  .resume
    .row
      .span3
        / Title
        %h3 Education
      .span8
        / Information
        .rcontent
          %h4 K.L.N. College of Engineering, Madurai
          %p.tag B.Tech (Information Technology) - 2003-2017 - 89%
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.
    .border
    .row
      .span3
        %h3 Skills
      .span8
        .rcontent
          %h4 Web Designer/Developer
          %p.tag Stuffs I Know
          .skills
            / Each skill should be enclosed inside "span" tag with class "skill".
            %span.skill HTML5
            %span.skill CSS3
            %span.skill JavaScript
            %span.skill jQuery
            %span.skill BootStrap
            %span.skill WordPress
            %span.skill Photoshop
            %span.skill PHP/MySQL
            %span.skill CodeIgniter
    .border
    .row
      .span3
        %h3 Work Experience
      .span8
        .rcontent
          %h4 Google Inc, London
          %p.tag Project Manager - 2009-2011
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate eros nec odio egestas in dictum nisi vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse porttitor luctus imperdiet.
