.content-g.content-d
  / Title
  %h2 Meetup Schedule
  Times may changed based on audience and analytics.  Please sign up with our mailing list to remain current.
  / Border
  .border
  / Content
  .resume
    .row
      .span3
        %h3 August 14th 2013
        11:30AM Central US

      .span8
        .rcontent
          %h4 MotionMeetup # 4
          %p
            A programmer at 37signals and one of the mechanics behind rubygems.org, Nick is a ruby enthusiast and an avid contributor and public speaker.
          %p
            Special Guest
            %span.skill
              %a{href: "http://quaran.to/"} Nick Quaranto     
    .border
    .row
      .span3
        %h3 September 18th 2013

      .span8
        .rcontent
          %h4 MotionMeetup # 5
          %p
            iOS/RubyMotion/Rails developer, owner of ClearSight Studio, and creator of ProMotion.
          %p
            Special Guest
            %span.skill
              %a{href: "http://www.clearsightstudio.com/"} Jamon Holmgren    
    .border
    .row
      .span3
        %h3 To Be Announced
      .span8
        .rcontent
          %h4 MotionMotion Meetup # 6
          %p
            Please contact us if you'd like to talk!
          %p
            Special Guest
            %span.skill 
              %a{href: ""} TBA
