.content-g.content-d
  / Title
  %h2 Meetup Schedule
  / Border
  .border
  / Content
  .resume
    .row
      .span3
        / Title
        %h3 May 15th 2013
        %p 12:00:00 GMT
        %p (6pm US CST)
      .span8
        / Information
        .rcontent
          %h4 RubyMotion Meetup # 1
          %p 
            Join us as we kick off the first ever Motion Meetup.  We'll discuss the #inspect Conference and cover
            the field on what's happened in RubyMotion over the past year, as well as where it's going.
          %p   
            Special Guest
            %span.skill 
              %a{href: "http://colinta.com/"} Colin Gray
    .border
    .row
      .span3
        %h3 June 12th 2013
        %p 12:00:00 GMT
        %p (6pm US CST)
      .span8
        .rcontent
          %h4 MotionMeetup # 2
          %p
            Get your questions ready for the originator and owner of RubyMotion.  We'll be talking about the RubyMotion
            roadmap with the head honcho.
          %p
            Special Guest
            %span.skill
              %a{href: "http://hipbyte.com/"} Laurent Sansonetti
    .border
    .row
      .span3
        %h3 To Be Announced
      .span8
        .rcontent
          %h4 MotionMotion Meetup # 3
          %p
            Please contact us if you'd like to talk!
          %p
            Special Guest
            %span.skill 
              %a{href: ""} TBA
