.content-y.content-d
  %h2 Sign Up to Get Notifications
  .border
  .contact
    .row
      .span6
        / About form
        %p
          %strong Meetups are announced via RubyMotion Dispatch!
          We're not interested in spamming you (unless we can use canned Spam).  We've teamed up with Infinite Red to make sure every meetup is announced in the RubyMotion Dispatch newsletters.
        %p
          = image_tag "dispatch.png"
        %h3
          %a{href: "http://rubymotiondispatch.com/"}
            Click Here to Sign Up
      .span5
        %h3 How It Works
        / normally where a map would go
        %p
          = image_tag "rubymotion_group.png", style: "float: right;"
          Signing up will get you meetup times as well as general RubyMotion updates each week.
        %p
          On the day of the meetup, chat will be handled via the RubyMotion IRC Channel, and video will be provided via Google Hangout.
        .border
        / Address
        .address
          .row
            .span3
              %address
                %span.color.bold.company
                  24/7 IRC channel #rubymotion
            .span2
              %address
                %span.color.bold.company
                  %a{href: "http://webchat.freenode.net/"} freenode.net
