.content-y.content-d
  %h2 Sign Up to get Notifications of Meetups
  .border
  .contact
    .row
      .span6
        / About form
        .form
          %form.form-horizontal
            .control-group
              %label.control-label{:for => "name"} Name
              .controls
                %input#name.input-medium{:type => "text"}/
            .control-group
              %label.control-label{:for => "email"} Email
              .controls
                %input#email.input-medium{:type => "text"}/
            .control-group
              %label.control-label{:for => "website"} Website
              .controls
                %input#website.input-medium{:type => "text"}/
            .control-group
              %label.control-label{:for => "comment"} Comment
              .controls
                %textarea#comment.input-madium{:rows => "3"}
            .form-actions
              %button.btn{:type => "submit"} Subscribe
              %button.btn{:type => "reset"} Reset (yeah really)
      .span5
        %h3 How it Works
        / normally where a map would go
        %p
          = image_tag "rubymotion_group.png", style: "float: right;"
          Signing up will keep you updated with events on the Meetups.  Like who will be talking, dates, times, and archive updates.
        %p
          On the day of the meetup, chat will be handled via the RubyMotion IRC Channel, and video will be provided via Google hangout.
        .border
        / Address
        .address
          .row
            .span3
              %address
                %span.color.bold.company 
                  24/7 IRC channel #rubymotion
            .span2
              %address
                %span.color.bold.company
                  %a{href: "http://webchat.freenode.net/"} freenode.net
